* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #cdd5e4;
}

.responsive-img {
  width: 600px;        /* fills container */
  max-width: 800px;  /* desktop limit */
  height: auto;      /* keeps aspect ratio */
  display: block;
  
  margin-top: 50px;
  margin-bottom: -100px;
 

}

/* Tablet */
@media (max-width: 768px) {
  .responsive-img {
    max-width: 200px;
  }
}

/* Mobile */
@media (max-width: 40px) {
  .responsive-img {
    max-width: 50%;
  }
}


/* NAVBAR */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    /* background: rgba(15, 23, 42, 0.9); */
    backdrop-filter: blur(10px);
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color: #000000;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #2f83a7;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    height: 100vh;
    background:linear-gradient(120deg, rgb(1, 39, 255),rgb(1, 255, 1)
    );
    /* background: linear-gradient(135deg, #0ea5e9, #6366f1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-img{
   
    align-items: start;
    margin-left: 0px;
    
}

.hero h2 {
    font-size: 3rem;
}

.hero span {
    color: #020617;
}

.hero p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.hero button {
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    background: #020617;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.hero button:hover {
    background: white;
    color: #020617;
    transform: scale(1.05);
}

/* SECTIONS */
section {
    padding: 80px 10%;
}

section h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #38bdf8;
}

/* SKILLS */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-list li {
    list-style: none;
    padding: 12px 20px;
    background: #020617;
    border-radius: 30px;
    border: 1px solid #38bdf8;
    transition: 0.4s;
    cursor: pointer;
}

.skills-list li:hover {
    background: #38bdf8;
    color: #020617;
    transform: translateY(-5px);
}

/* PROJECT CARD */
.project-card {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #38bdf8;
    transition: 0.4s;
}

.project-card:hover {
    transform: scale(1.03);
}

/* CONTACT */
#contact p {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    background: #020617;
    padding: 15px;
    border-radius: 12px;
    transition: 0.4s;
}

#contact p:hover {
    background: #38bdf8;
    color: #020617;
}

#contact img {
    filter: invert(1);
}

#contact a {
    color: inherit;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}

.mama{
 margin-top: -20px;   
    
}


/* ANIMATION BASE */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.logo-img {
  width: 100px;     /* desktop size */
  height: auto;    /* keeps ratio */
  max-width: 100%;
}
/* 
/* Tablet */
/* @media (max-width: 500px) {
  .logo-img {
    width: 50px;
  }
} */

/* Mobile */
/* @media (max-width: 500px) {
  .logo-img {
    width: 30px;
  }
} */ 

/* ===== MOBILE / TABLET MENU ===== */
.manzi {
    display: flex;
    justify-content: end;
    align-items: end;
}
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  margin-right: -130px;
}

/* Tablet & Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 220px;
    padding: 20px;
    gap: 15px;
    display: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    display: flex;
  }
}
